@use "sass:color";
@use "variables" as *;

@function getLightness($type, $item) {
  @if $type == "darken" {
    @if $item == 1 {
      @return -10%;
    } @else if $item == 2 {
      @return -20%;
    } @else if $item == 3 {
      @return -30%;
    } @else if $item == 4 {
      @return -40%;
    }
  } @else if $type == "lighten" {
    @if $item == 1 {
      @return 10%;
    } @else if $item == 2 {
      @return 20%;
    } @else if $item == 3 {
      @return 30%;
    } @else if $item == 4 {
      @return 40%;
    }
  }
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-1 {
  display: flex;
  gap: 5px;

  .base-color {
    background-color: $primary-color;
  }

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: color.adjust(
        $primary-color,
        $lightness: getLightness("darken", $i)
      );
    }
    .lighten-#{$i} {
      background-color: color.adjust(
        $primary-color,
        $lightness: getLightness("lighten", $i)
      );
    }
  }
}

.container-2 {
  display: flex;
  gap: 5px;

  .base-color {
    background-color: $secondary-color;
  }

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: color.adjust(
        $secondary-color,
        $lightness: getLightness("darken", $i)
      );
    }
    .lighten-#{$i} {
      background-color: color.adjust(
        $secondary-color,
        $lightness: getLightness("lighten", $i)
      );
    }
  }
}

.container-3 {
  display: flex;
  gap: 5px;

  .base-color {
    background-color: $tertiary-color;
  }

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: color.adjust(
        $tertiary-color,
        $lightness: getLightness("darken", $i)
      );
    }
    .lighten-#{$i} {
      background-color: color.adjust(
        $tertiary-color,
        $lightness: getLightness("lighten", $i)
      );
    }
  }
}

.box {
  height: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-box-text {
  color: $textcolor;

  &.center {
    color: white;
  }
}
